{% extends "base.html" %}

{% block main %}
{% include 'calendarios/messages.html' with messages=messages %}
<div class="px-xl-3 container-fluid">
    <div class="text-center">
        <h1>Formulario - Añadir reserva</h1>
    </div>
    <form action="/add_client_form" method="POST">
        {% csrf_token %}
        {% load calendariotags %}
        {% if form_results %}
            <div hidden>{{ form.as_p }}</div>
            <div class='text-center'>
                {% for result in form_results %}
                    <!-- Not render the form because it's already been submitted. Render results instead. -->
                    <p>{% render_confirm form_results result %}</p>
                {% endfor %}
            </div>
        {% else %}
            {{ form.as_p }}
        {% endif %}
    <form>

    {% if confirm %}
        <div class="text-center">
            <p>Precio: {{ precio }} guaraníes.</p>
            <strong><p>Presione el siguiente botón para confirmar que estos datos son correctos y guardar la reserva.</p></strong>
            <button type="submit" class="btn btn-primary">Confirmar</button>
            <a href="/add_client_form" role="button" class="btn btn-primary">Volver</a>
        </div>
    {% else %}
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    {% endif %}
</div>
{% endblock %}