{% extends "base.html" %}

{% block main %}
{% include 'calendarios/messages.html' with messages=messages %}
<div class="px-xl-3 container-fluid">
    <div class="text-center">
        <br>
        <h1><b>{% if user.is_authenticated %}Añadir{% else %}Pedir{% endif %} reserva</b></h1>
    </div>
    <form action="/add_client_form" method="POST">
        {% csrf_token %}
        {% load calendariotags %}
        {% if form_results %}
            <div hidden>{{ form.as_p }}</div>
            <div class='text-center'>
                <!-- Not render the form because it's already been submitted. Render results instead. -->
                {% for result in form_results %}
                    <p>{% render_confirm form_results result %}</p>
                {% endfor %}
            </div>
        {% else %}
            {{ form.as_p }}
            <div class="text-center">
                <p>Precio: <em id='precio'>450.000</em> guaraníes.</p>
            </div>
        {% endif %}
    <form>

    {% if confirm %}
        <div class="text-center">
            <p>Precio: {{ precio }} guaraníes.</p>
            <p><strong>La reserva durará {{ reserva_length }} dia(s).</strong></p>
            
            {% if form_results.email %}
                <!-- TODO: Send email to mom if this is sent anonymously -->
                <!-- TODO: Remake this probably <p><strong>Se enviará un email de confirmación.</strong></p> -->
            {% endif %}
            <a href="/add_client_form" role="button" class="btn btn-primary add_left">Volver al formulario</a>
            <button type="submit" class="btn btn-primary">Confirmar reserva</button>
        </div>
    {% else %}
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    {% endif %}
</div>
<script>
    var casilla_precio = document.querySelector('#precio');
    var casilla_adultos = document.querySelector('#id_cantidad_adultos');
    var casilla_menores = document.querySelector('#id_cantidad_menores');
    var casilla_gratis = document.querySelector('#id_cantidad_gratis');
    var precio_adultos = 150000;
    var precio_menores = 120000;
    var precio_minimo = 450000;
    function update_precio() {
        var total = Number(casilla_adultos.value) * precio_adultos + Number(casilla_menores.value) * precio_menores;
        if (total >= precio_minimo) {
            casilla_precio.innerHTML = total.toLocaleString();
        }
        else {
            casilla_precio.innerHTML = precio_minimo.toLocaleString();
        }
    }
    casilla_adultos.addEventListener('change', update_precio);
    casilla_menores.addEventListener('change', update_precio);
</script>
{% endblock %}