{% extends "base.html" %}

{% block main %}
<div class="text-center">
    <h1>Iniciar sesión</h1>
</div>

<div class="px-xl-3 container-fluid">
    <div class="text-center">
        {% if next %}
            <p>Necesitas iniciar sesión para ingresar a esta página.</p>
        {% endif %}
    </div>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </div>
    </form>
</div>
{% endblock %}