<table style="width: 100%;"> <!--<img src="cid:image1" alt="AtyRoga Logo" id="logo" style="height: 10%; width: auto;">-->
    <tr>
        <th style="text-align: left;"><img src="cid:image1" alt="AtyRoga Logo" id="logo" style="height: 7%; width: auto;"></th>
        <th style="text-align: left;"></th>
        <th style="text-align: left;"></th>
    </tr>
    <tr>
        <td style="text-align: left;">Contacto: 0972300039</td>
        <td style="text-align: center;"></td>
        <td style="text-align: center;"></td>
    </tr>
</table>
<p>Buenas, {{ form.nombre }}.</p>
<p>
    Su reserva para {{ form.cantidad_personas }} persona(s) se ha realizado para la casa {{ casa }}, iniciando el {{ form.fecha_inicio|date }} hasta el {{ form.fecha_fin|date }}.
</p>

