{% extends "base.html" %}

{% block main %}
{% load static %}
<div class="card"> <!-- TODO: Figure this shit out -->
    <div class="card-header">
        <img src="cid:image1" alt="AtyRoga Logo" id="logo" style="height: 100px; width: auto;">
        <div class="text-right">
            Contacto: xxxxxxxxxx
        </div>
    </div>
    <div class="card-body">

    </div>
</div>
Buenas tardes, Mathias Martinez.\n
Su reserva para 5 personas se ha realizado para la casa {casas[2]}, iniciando el {_date(date.today())} hasta el {_date(date.today())}
{% endblock %}