{% extends 'index.html' %}

{% block main %}
    <div class="text-center">
        <h1><b>Reservas</b></h1>
        <form action="/add_client_form" method="GET">
            <input type="submit" class="btn btn-primary" value="Añadir reserva">
        </form>
    </div>

    <br>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Casa 1</th>
                <th scope="col">Casa 2</th>
                <th scope="col">Casa 3</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
            <tr>
                <td>{{ reserva.dia }}</td>
                {% if reserva.casa1 %}
                    <td bgcolor="#00FF00">Ocupado</td>
                {% else %}
                    <td bgcolor="#00FF00">Libre</td>
                {% endif %}
                {% if reserva.casa2 %}
                    <td bgcolor="#00FF00">Ocupado</td>
                {% else %}
                    <td bgcolor="#00FF00">Libre</td>
                {% endif %}
                {% if reserva.casa3 %}
                    <td bgcolor="#00FF00">Ocupado</td>
                {% else %}
                    <td bgcolor="#00FF00">Libre</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}