{% extends "base.html" %}

{% block main %}
<div class="px-xl-3 container-fluid">
    <div class="text-center">
        <h1><b>Reservas</b></h1>
        <form action="/add_client_form" method="GET">
            <input type="submit" class="btn btn-primary" value="Añadir reserva">
        </form>
    </div>

    <br>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Barro Roga</th>
                <th scope="col">Ysypo Roga</th>
                <th scope="col">Hierro Roga</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
            <tr>
                <td>{{ reserva.dia }}</td>
                {% if reserva.casa1 %}
                    <td bgcolor="#FF6666">Ocupado por {{ reserva.nombre1 }}</td>
                {% else %}
                    <td bgcolor="#66FF66">Libre</td>
                {% endif %}
                {% if reserva.casa2 %}
                    <td bgcolor="#FF6666">Ocupado por {{ reserva.nombre2 }}</td>
                {% else %}
                    <td bgcolor="#66FF66">Libre</td>
                {% endif %}
                {% if reserva.casa3 %}
                    <td bgcolor="#FF6666">Ocupado por {{ reserva.nombre3 }}</td>
                {% else %}
                    <td bgcolor="#66FF66">Libre</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}