{% extends "base.html" %}

{% block main %}
{% include 'calendarios/messages.html' with messages=messages %}
<div class="px-xl-3 container-fluid">
    <div class="text-center">
        <h1><b>Reservas</b></h1>
        {% if user.is_authenticated %}
            <a role="button" href="{% url 'add_client_form' %}" class="btn btn-primary">Añadir reserva</a>
            <a role="button" href="{% url 'logout' %}" class="btn btn-primary">Cerrar sesión</a>

            <br>

            <p><strong>Haga click en los nombres para ver más detalles sobre la reserva.</strong></p>
        {% else %}
            <p><strong>Esta página es para ver reservas, si eres un administrador, inicie sesión para poder añadirlas o modificarlas.</strong></p>
            <a role="button" href="{% url 'login' %}" class="btn btn-primary">Iniciar sesión</a>
            <br>
            <br>
        {% endif %}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Barro Roga</th>
                <th scope="col">Ysypo Roga</th>
                <th scope="col">Hierro Roga</th>
            </tr>
        </thead>
        <tbody>
            {% load calendariotags %}
            {% for fecha in date_list %} <!-- render_cell is in calendariostags.py -->
            <tr>
                <td>{{ fecha }}</td>
                {% for dias_ocupados in dias_ocupados_casas %}
                    {% render_cell dias_ocupados fecha %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}