{% extends "base.html" %}

{% block main %}
<div class="text-center">
    <h1>Reserva de {{ reserva.nombre }}</h1>
    <p>Casa: {{ casa }}</p>
    <p>Estadia: {{ reserva.fecha_inicio }} al {{ reserva.fecha_fin }}</p>
    <p>Cantidad de mayores: {{ reserva.cantidad_adultos }}</p>
    <p>Cantidad de menores: {{ reserva.cantidad_menores }}</p>
    <p>Cantidad de menores de 2 años: {{ reserva.cantidad_gratis }}</p>
    <p>Correo: {{ reserva.email }}</p>
    <p>Notas: {{ reserva.notas }}</p>
    <div class="button-box">
        <a href="/" role="button" class="btn btn-primary add_left">Volver a la página principal</a>
        <a href="{% url 'edit_client_form' reserva.id %}" role="button" class="btn btn-primary">Editar esta reserva</a>
        <br>
        <br>
        <a href="{% url 'confirm_reservation' reserva.id %}" role="button" class="btn btn-primary">Confirmar la reserva</a>
    </div>
</div>
{% endblock %}