{% extends "base.html" %}

{% block main %}
<div class="text-center">
    <h1>Reserva de {{ reserva.nombre }}</h1>
    <p>Casa: {{ reserva.casa }}</p>
    <p>Estadia: {{ reserva.fecha_inicio }} al {{ reserva.fecha_fin }}</p>
    <p>Cantidad de personas: {{ reserva.cantidad_personas }}</p>
    <p>Correo: {{ resereva.email }}</p>
    <p>Notas: {{ reserva.notas }}</p>
    <div class="button-box">
        <a href="/" role="button" class="btn btn-primary">Volver</a>
        <a href="/edit_client_form/{{ reserva.id }}" role="button" class="btn btn-primary">Editar</a>
    </div>
</div>
{% endblock %}