.table {
    font-size: 14px;
}

.add_left{
    margin-right: 5%;
}

.calendario-row-data a {
    text-decoration: underline;
    color: black;
}

.calendario-row-data a:link {
    color: black;
}

.calendario-row-data a:hover {
    color: black;
    text-decoration: none;
}